<h3>app works</h3>
<div class="container d-flex justify-content-center align-items-center py-5">
  <div>
    <div >
      <div class="form-group">
        <label for="name"> Name</label>
        <input
          type="text"
          id="name"
          class="form-control"
          [(ngModel)]="dataName">
      </div>
      <div class="form-group">
        <label for="status"> Status</label>
         <input
           type="text"
          id="status"
          class="form-control"
          [(ngModel)]="serverStatus">
         </div>
         <div >
          <button
          class="btn btn-primary" (click)="addData()" *ngIf="editMode">addData</button>
          <button
          class="btn btn-primary" (click)="update()" *ngIf="!editMode">update</button>
    
         </div>

    </div>
    <div class="row text-center">
      <div class="col" *ngFor='let data of datas | async let i=index'>
    <p> {{data.id }}  {{data.name}} {{data.status}} </p> 
    <button class="btn btn-secondary" (click) = "detail(data.id)">detail</button>
    <button class="btn btn-secondary" (click) = "Delete(data.id)">Delete</button>
    <button class="btn btn-secondary" (click) = "edit(data.id,data.name,data.status)">Edit</button>
      </div>
    </div>
    <div class="col" *ngIf='selEmp !== null' >
     <p> {{selEmp.id }} {{selEmp.name }} {{selEmp.status }}    </p>  
        </div>
    <div class="row mt-4">
      <div class="col"><button class="btn btn-secondary" (click) = "showdata()">ShowData</button></div>
      <div class="col"><button class="btn btn-secondary" (click) = "doIncrease()">Increment</button></div>
      <div class="col"><button class="btn btn-secondary" (click) = "doDecrease()">Decrement</button></div>
    </div>
  </div>
</div>